.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 10px 10px;
  background: var(--cor-12);
  border-radius: 14px;
  color: var(--cor-0);
  max-width: max-content;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.botao:hover {
  background: var(--cor-0);
  color: var(--cor-12);
}

@media (max-width: 600px) {
  .botao {
    padding: 5px 5px;
    font-size: 1rem;
    border-radius: 7px;
  }
}
