.sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: 0;
}

#sobre {
  background: linear-gradient(
    45deg,
    var(--cor-p1),
    #5f96c6,
    #536bac,
    var(--cor-p2)
  );
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.titulo-sobre {
  text-align: center;
  margin-bottom: 60px;
}

.circle {
  flex: 1;
  aspect-ratio: 1 / 1; /* Mantém a proporção 1:1 (círculo) */
  background-color: var(--cor-10);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  perspective: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 20px;
}

.circle-content {
  transition: transform 0.5s ease-in-out;
}

.circle:hover {
  transform: scale(1.1) rotateY(180deg);
}

.circle:active {
  transform: scale(1.1) rotateY(180deg);
}

.circle-title {
  opacity: 1;
  font-size: 1.5em;
  padding: 0 20px;
}

.circle-description {
  display: none;
  font-size: 1em;
  overflow: hidden;
  padding: 0px 20px;
}

.circle:hover .circle-description,
.circle:active .circle-description {
  display: block;
  transform: rotateY(180deg);
}

.circle:hover .circle-title,
.circle:active .circle-title {
  display: block;
  transform: rotateY(180deg);
}

@media (max-width: 800px) {
  .sobre {
    flex-direction: column;
  }

  .circle {
    width: 100%;
    margin-right: 0;
  }
}
