.sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}

#sobre {
  background: linear-gradient(
    45deg,
    var(--cor-p1),
    var(--cor-p2),
    var(--cor-p3),
    #fff620
  );
  background-size: 200% 200%;
  animation: colors 10s ease infinite;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.titulo-sobre {
  text-align: center;
}

.circle {
  width: 385px;
  height: 385px;
  background-color: var(--cor-10);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  perspective: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle:hover {
  transform: scale(1.1) rotateY(180deg);
}

.circle:active {
  transform: scale(1.1) rotateY(180deg);
}

.circle-title {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.5em;
  margin: 0;
}

.circle:hover .circle-title {
  opacity: 0;
}

.circle-description {
  display: none;
  transform: rotateY(180deg);
  font-size: 1em;
  overflow: hidden; /* Adicionado para esconder qualquer texto que ultrapasse os limites do círculo */
}

.circle:hover .circle-description {
  display: block;
}
